:root {
  --primary-color: #070a29;
  --secondary-color: #070a29;
  --shape-circle: radial-gradient(34.98% 34.98% at 50% 50%, #725bda 0, rgba(6, 19, 45, 0) 100%);
}
body{
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  min-height: 1500px;
}
.navbar-color{
  background-color: var(--primary-color);
}
